<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GoRest API Suite" parallel="methods" thread-count="4" preserve-order="true" verbose="1">
    <listeners>
        <listener class-name="com.gorest.utils.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/priyagarg/L4/SeleniumLearning/gorest-api-framework">
        <classes>
            <class name="com.gorest.base.tests.CreateUserTest">
                <methods>
                    <include name="createUserFromJson"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>